.mediaList {
  background-color: #f7ebeb;
  padding: 4px 4px 2px;
}

.mediaList .media {
  background-color: white;
  margin-bottom: 4px;
  border: #e4004a solid 1px;
}

.hashtag {
  background-color: indianred;
  color: white;
  margin-right: 5px;
  padding: 2px;
}

.plusbutton {
  right: 30px;
  bottom: 30px;
  position: fixed;
}
