<md-card class="demo-card demo-basic">
  <md-card-title class="col-md-10 col-md-offset-1" color="primary" style="text-align:center">Create Contest</md-card-title>
  <md-card-content>
    <form [formGroup]="createContestForm" (ngSubmit)="createContest($event, createContestForm.controls.title.value, createContestForm.controls.endDate.value)">

      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div style="height:13px">
            <!-- this is used to align title and date fields -->
          </div>
          <md-input-container class="col-md-12">
            <input mdInput formControlName="title" required type="text" placeholder="Τitle" />
          </md-input-container>
          <form-error *ngIf="createContestForm.controls.title.touched && createContestForm.controls.title.invalid" style="text-align:right">
            Please enter a title
          </form-error>
        </div>

        <div class="col-md-5">
          <md2-datepicker formControlName="endDate" required class="col-md-12" placeholder="End Date" min="new Date()"></md2-datepicker>
          <form-error *ngIf="createContestForm.controls.endDate.touched && createContestForm.controls.endDate.invalid" style="text-align:right">
            Please enter an end date
          </form-error>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <md-input-container class="col-md-12">
            <textarea mdInput formControlName="description" placeholder="Description" rows="4"></textarea>
          </md-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <md-select formControlName="category" placeholder="Category" class="col-md-12">
            <!-- null option -->
            <md-option></md-option>
            <md-option *ngFor="let cat of categories" [value]="cat">
              {{ cat.DisplayName }}
            </md-option>
          </md-select>
        </div>
      </div>

      <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <md2-chips formControlName="requiredHashTags" placeholder="Required Hashtags" class="col-md-12"></md2-chips>
          </div>
          <div class="col-md-5">
            <md2-chips formControlName="optionalHashTags" placeholder="Optional Hashtags" class="col-md-12"></md2-chips>
          </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <file-input class="col-md-12"></file-input>
          <!-- <md-input-container class="col-md-12">
            <input mdInput readonly type="text" [value]="createContestForm.controls.productPhotos" />
          </md-input-container>
          <button md-fab><md-icon>attachment</md-icon></button>
          <input formControlName="productPhotos" multiple required type="file" placeholder="Product Photo" style="display:none" (change)="potato($event)" /> -->
        </div>
      </div>

    </form>
  </md-card-content>
</md-card>
